.card-item-red {
  background-color: rgb(241, 50, 50);
}
.card-item-blue {
  background-color: rgb(103, 103, 241);
}
.card-item-green {
  background-color: rgb(218, 113, 53);
}
.card-item-orange {
  background-color: rgb(238, 176, 61);
}
